<ion-header>
  <ion-toolbar color="secondary">
   <ion-img src="https://cdn.discordapp.com/attachments/962446660816994347/1013992565479063612/unknown.png"  id="imagen"></ion-img>
   <ion-title  #titulo class="ion-text-left ion-text" id="titulo" >
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="ion-padding-top ion-text-center">
    <h1>Sistema de asistencia Duoc UC</h1>
  </ion-title>


<ion-content>
  <ion-title class="ion-padding-top ion-text-center">
    <h2>Recuperar Contraseña</h2>
  </ion-title>


  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center ion-padding-vertical">

      <ion-card-title class="ion-text-center">
      </ion-card-title>
      <ion-card-content class="ion-texte-center">
        <h1>! LO SENTIMOS PERO LOS DATOS INGRESADOS NO SON CORRECTOS !</h1>
      </ion-card-content>
      
      <ion-label>
        <br>
        <ion-button routerLink="">iniciar sesión</ion-button>
      </ion-label>
    </ion-card>
  </div>
  
</ion-content>

