<ion-header>
  <ion-toolbar color="secondary">
   <ion-img src="https://cdn.discordapp.com/attachments/962446660816994347/1013992565479063612/unknown.png"  id="imagen"></ion-img>
   <ion-title  #titulo class="ion-text-left ion-text" id="titulo" >
  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-title class="ion-padding-top ion-text-center">
    <h1>Sistema de asistencia Duoc UC</h1>
  </ion-title>

  <div class="ion-padding-vertical">

    <ion-card class="ion-text-center ion-padding-vertical">

      <ion-card-title class="ion-text-center">
          <h2>Recuperar contraseña</h2>
          <h4>Paso 1: Ingresa tu correo electrónico</h4>
      </ion-card-title>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Ingresa tu Correo</ion-label>
          <ion-input type="text" [(ngModel)]="correo.CorreoUsuario"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col size="12">
            <ion-button shape="round" color="tertiary" (click)="ingresar()">Recuperar contraseña</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
      <ion-label>
        <br>
        <ion-button routerLink="">iniciar sesión</ion-button>
      </ion-label>
    </ion-card>
  </div>
</ion-content>