
.ancho_columna_titulos {
  width: 170px;
}




ion-header {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
}

#titulo {
  font-size: 25px;
  color: black;
}

#bienvenido {
  font-size: 25px;
  color: black;
}



ion-header {
  background-color: primary;
}

ion-label {
  width: 130px;
}



#imagen {
  
  width: 300px
  
}


