ion-content{
    --padding-top: 100px;
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
      
}
ion-item{
    --padding-bottom: 30px;
    
   
}


ion-label h2{
    font: 1em sans-serif;

}



#logo {
  
    width: 400px
    
  }